/** Add a comment at the beginning of your CSS styles with your name**/


/** Avye styles **/
body {
	background-color: #ffcccc;
font-family: 'Inconsolata', serif;
	font-size: 16px;
}
.advice {
	width: 75%;
	margin: 8%;

}
 .advice h4 {
	border-bottom: 2px solid #DDDDDD;
	padding-bottom: 5px;
	font-size: 1.15em;
}
.advice p {
	padding: 0 5%;
}
h1{
	font-size: 2.25em;
	color: #996600;
	margin-left: 6%;
	margin-top: 5%;
}
 footer {
	 text-align: center;
	 color: #996600;
	 text-decoration: overline;

 }
